.pageHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    height: 32px;
}

.pageHeader .title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #000000;
}